snippet let "let binding" b
let ${1:name} = ${0}
endsnippet

snippet match "match expression" b
match ${1:value} with
| ${2:pattern} -> ${0}
endsnippet

snippet module "module" b
module ${1:Name} = struct
  ${0}
end
endsnippet
