snippet use "usepackage" b
\usepackage{${1:package}}
endsnippet

snippet beg "begin/end environment" b
\begin{${1:environment}}
    $2
\end{$1}
endsnippet

snippet eqa "equation environment" b
\begin{equation}\label{$1}
	$2
\end{equation}
endsnippet

snippet dm "display math \[...\]" b
\[
    $1
\]
endsnippet

snippet dd "display math $$...$$" b
$$
    $1
$$
endsnippet

snippet mk "inline math \(...\)" w
\($1\)
endsnippet
